.section1 {
	background-color: #3055a3;
}

.section2 {
	background-color: #7baede;
}

.section3 {
	background-color: #001880;
}

.section4 {
	background-color: #001880;
}

.card, .card-img-top {
	border-radius: 0;
}